// Variables
    
$color-background: #2f3542;
$color-hover-back: #3f4653;
$color-footer: #232323;
$color-extra: #22b415;
$color-hover: #2a8b22;
$color-body: #ffffff;

$font-body: 'Montserrat', sans-serif;

/* Global */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 17px;
    line-height: 1.7;
    background: $color-background;
    font-family: $font-body;
    color: $color-body;
    letter-spacing: 1px;
}

*, *::before, *::after {
    box-sizing: border-box;   
}

.container {
    max-width: 1140px;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

/* Header */

.header {
    padding: 60px 0;
}

.header__title {
    font-size: 36px;
    color: $color-extra;
    letter-spacing: 3px;
}

/* Game */

.game__box {
    flex: 0 0 30%;
    border: 2px solid $color-body;
    padding: 40px;
    margin: 10px;
    &:hover {
        box-shadow: 0 0 2px 2px $color-hover;
        background: $color-hover-back;
    }
    ul {
        list-style-type: square;
        margin: 0; 
        padding: 0;
        li {
            margin-left: 25px;
        }
    } 
}

.game__rules {
    text-align: left;
}

.game__box--element {
    margin: 20px 0;
    button {
        height: 200px;
        width: 200px;
        font-size: 100px;
        border-radius: 50%;
        border: none;
        background: $color-extra;
        color: $color-body;
        outline: 0;
        &:hover {
            background: $color-hover;
            cursor: pointer;
        }
    }
}

.game__box--messages {
    font-size: 24px;
    color: $color-extra;
    height: 200px;
}

/* Footer */

.footer {
    background: $color-footer;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}